.cont-jobs {
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
}

.loader-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
