.nav-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2c364c;
}

.cont-links {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin: 20px;
  color: white;
}

.content-style {
  margin: 30px;
}

.logout-btn {
  background-color: #4f46e5;
  color: white;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  border-color: none;
  border-style: none;
}
