.Login-form-external-bg {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
}

.input-style {
  border-radius: 5px;
  height: 40px;
  width: 250px;
  padding: 20px;
}

.button-style {
  background-color: #4f46e5;
  color: white;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  margin-top: 20px;
}
